<div id="github-thread" class="article-comments"></div>
<script>
(() => {
    let utterances = document.createElement('script');
    utterances.setAttribute('src', 'https://utteranc.es/client.js');
    utterances.setAttribute('repo', 'rhedgeco/rhedgeco-blog');
    utterances.setAttribute('issue-term', 'title');
    utterances.setAttribute('label', 'blog chat 💬');
    utterances.setAttribute('crossorigin', 'anonymous');
    utterances.setAttribute('async', '');

    let utterancesTheme = localStorage.getItem('theme') === 'dark' ? 'github-dark' : 'github-light';
    utterances.setAttribute('theme', utterancesTheme);

    document.getElementById('github-thread').after(utterances);
})();
</script>
<noscript>Please enable JavaScript to view the comments powered by <a href="https://utteranc.es/">Utterances</a>.</noscript>